<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Contact Sent</title>
    </head>
    <body>
        {% if is_robot %}
        <h1>Hi, you are robot</h2>
        {% else %}
        <h1>Hi {{ name }}</h1>
        {% endif %}
        <p>You will redirected into homepage</p>


        <script charset="utf-8">
            setTimeout(function(){
                window.location.href = "{% url 'index' %}"
            }, 2000)
        </script>
    </body>
</html>
